<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
        <a class="navbar-item" href="/">{{i18n.nav.home}}</a>
        <a id="toggle_modal" data-toggle="modal_theme" class="navbar-item" >{{i18n.nav.new_theme}}</a>
        <a class="navbar-item" href="/knowledge/topic">{{i18n.nav.new_topic}}</a>

    </div>

    <div class="navbar-end">
        {% if user %}
          <a href="/auth/logout" class="navbar-item">{{i18n.nav.logout}}</a>
        {% else %}
          <a href="/auth/login" class="navbar-item">{{i18n.nav.login}}</a>
        {% endif %}
    </div>
  </div>
</nav>
